html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --var-lightgray: #f7f7f7;
  --var-blue: #26c6da;
  --var-orange: #ff9800;
  --var-red: #c62828;
  --var-green: #43a047;
}

body {
  color: #1d1d1d;
  background-color: var(--var-lightgray);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
body.blue {
  background-color: var(--var-blue);
}
body.orange {
  background-color: var(--var-orange);
}
body.red {
  background-color: var(--var-red);
}
body.green {
  background-color: var(--var-green);
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--spaced {
  justify-content: space-between;
}
.flex--aligned-start {
  justify-content: flex-start;
}
.flex--aligned-end {
  justify-content: flex-end;
}
.flex--aligned-top,
.flex--aligned-left {
  align-items: flex-start;
}
.flex--aligned-bottom,
.flex--aligned-right {
  align-items: flex-end;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--column {
  flex-direction: column;
}
