name: LearnCharactersCI

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build app
        run: npm run build
      - name: Publish to surge.sh
        uses: dswistowski/surge-sh-action@v1.0.1
        with:
          domain: learn-characters.surge.sh
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
          project: public
