name: Surge.sh

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: true

      - name: Install dependencies
        run: pnpm i

      - name: Build app
        run: npm run build
        env:
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}

      - name: Publish to surge.sh
        run: |
          SURGE_TOKEN=${{ secrets.SURGE_TOKEN }}
          npm run surge -- --project public --domain learn-characters.surge.sh
